@import "tailwindcss";

:root {
  --foreground: #000;
  --font-onest: "Onest", sans-serif;
  --font-cutive: "Cutive Mono", monospace;
}

body {
  color: var(--foreground);
  font-family: var(--font-onest);
  font-weight: 500;
}