@import "tailwindcss";

:root {
  --foreground: #000;
  --font-onest: "Onest", sans-serif;
  --font-ubuntu: "Ubuntu Mono", monospace;
}

body {
  color: var(--foreground);
  font-family: var(--font-onest);
  font-weight: 500;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

h1 {
  font-size: 42px;
  padding: 0;
  margin: 0%;
}

h2 {
  font-size: 32px;
  padding: 0;
  margin: 0%;
}

h3 {
  font-size: 24px;
  padding: 0;
  margin: 0%;
}

.terminal {
  font-family: var(--font-ubuntu);
}